/* Global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
}
a {
  font-weight: bold;
  text-decoration: none;
}
a{
  outline: 0;
}

/* Header */
header {
  color: #fff;
  height: 33px;
  background: #5c646c url(../images/bg-top-bar.png) repeat-x 0px -1px;
  display: block;
  line-height: 33px;
  padding: 0 0 0 10px;
  position: relative;
}
header h1 {
  margin: 0;
  font-size: 13px;
  text-transform: uppercase;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  float: left;
}
header h1 span {
  font-weight: 200;
  color: rgba(255,255,255,0.6);
}
header h1 em {
  font-weight: normal;
  text-transform: none;
  color: rgba(255,255,255,0.3);
  font-size: 0.85em;
}
nav {
  line-height: 28px;
  float: right;
  display: inline;
  margin-right: 92px;
  cursor: default;
}

nav a {
  cursor: pointer;
}

nav .tooltip {
  position: absolute;
  top: 45px;
  z-index: 1000;
  font-size: 11px;
  display: block;
  padding: 7px 10px;
  background: rgba(0,0,0,0.7);
  border: solid 1px rgba(0,0,0,0.5);
  color: #fff;
  line-height: 1.2;
  text-transform: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}

nav .reset .tooltip {
  width: 120px;
  left: -40px;
  display: none;
}

nav .selector .tooltip {
  width: 120px;
  left: -40px;
  display: none;
}

nav .share .save-ui .tooltip {
  width: 147px;
  left: 25%;
  display: none;
}

nav .share .tooltip {
  left: -30px;
  width: 120px;
  display: none;
}

nav .downloader .tooltip {
  display: none;
  width: 140px;
  right: 10px
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
nav ul li {
  float: left;
  padding: 0 10px;
  background: url(../images/nav-divider.png) repeat-y 0px 0px;
  padding-left: 11px;
  position: relative;
}
nav a {
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
nav a:hover {
  text-decoration: underline;
}
nav a#update {
  padding: 0 0 0 15px;
  background: url(../images/icon-update.png) no-repeat 0px 40%;
}
nav a#download {
  padding: 0 0 0 13px;
  background: url(../images/icon-download.png) no-repeat 0px 40%;
}
nav a.share-link {
  padding: 0 0 0 15px;
  background: url(../images/icon-share.png) no-repeat 0px 40%;
}
nav a.save-link {
  padding: 0 0 0 17px;
  background: url(../images/icon-save.png) no-repeat 0px 40%;
}
nav .selector {
  padding-right: 5px;
}
nav .downloader {
  position: absolute;
  right: 0;
  width: 72px;
}
nav .loading img {
  vertical-align: middle;
  margin-right: 5px;
}
nav .loading {
  display: none;
}
nav .save-ui {
  float: left;
  display: none;
}
nav .save-ui .permalink {
  font-size: 11px;
  line-height: 1;
  padding: 4px 5px;
  border: solid 1px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.1);
  color: #b2b6bc;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Highlighting Toggle */
nav .switch {
  display: inline-block;
  width: 64px;
  height: 18px;
  background: url(../images/switch-track.png) no-repeat 0px 0px;
  position: relative;
  line-height: 18px;
  padding: 1px 1px 2px 1px;
  margin-left: 5px;
}
nav .switch .switch-selector {
  background: url(../images/switch.png) no-repeat 0px 0px;
  height: 18px;
  width: 32px;
  position: absolute;
  right: 33px;
  top: 2px;
}
nav .switch a {
  width: 32px;
  height: 18px;
  display: inline-block;
  text-align: center;
  z-index: 50;
  position: relative;
  margin: 0;
  padding: 0;
  color: #aeb2b7;
  font-weight: normal;
  -webkit-transition: all linear 0.2s;
}
nav .switch a:hover {
  text-decoration: none;
}
nav .highlighting {
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  line-height: 32px;
}
nav .on #on, nav .off #off {
  font-weight: bold;
  color: #484d53;
  text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}
/* Dropdown */
#swatches {
  display: block;
  height: 30px;
  width: 25px;
  padding: 0 13px 0 0;
}
#swatches.blueprint {
  background: url("../images/sprite-blueprint.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.desk {
  background: url("../images/sprite-desk.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.grid {
  background: url("../images/sprite-grid.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.white {
  background: url("../images/sprite-white.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.black {
  background: url("../images/sprite-black.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.sixteencol {
  background: url("../images/sprite-sixteen.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
#swatches.twelvecol {
  background: url("../images/sprite-twelve.png") no-repeat 0px 1px, url(../images/icon-dropdown.png) no-repeat right 50%;
}
.dropdown {
  border-width: 15px 15px 10px 15px;
  -webkit-border-image: url("../images/bg-dropdown.png") 15 15 10 15 stretch round;
  -moz-border-image: url("../images/bg-dropdown.png") 15 15 10 15 stretch round;
  border-image: url("../images/bg-dropdown.png") 15 15 10 15 stretch round;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 1000;
  color: #fff;
  font-size: 12px;
  padding: 0 0 0 0;
  list-style: none;
  width: 100px;
  display: none;
}
.dropdown li {
  line-height: 27px;
  height: 27px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  float: none;
  background: none;
}
.dropdown a {
  display: block;
  height: 27px;
  line-height: 27px;
  color: #fff;
  font-weight: normal;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 5px -32px;
  text-transform: none;
  font-size: 12px;
}
.dropdown a:hover {
  background-color: rgba(0,0,0,0.3);
  background-repeat: no-repeat;
  text-decoration: none;
}
.dropdown .selected a {
  font-weight: bold;
  background-position: 5px -62px;
}
.dropdown .blueprint a {
  background-image: url("../images/sprite-blueprint.png");
}
.dropdown .grid a {
  background-image: url("../images/sprite-grid.png");
}
.dropdown .desk a {
  background-image: url("../images/sprite-desk.png");
}
.dropdown .white a {
  background-image: url("../images/sprite-white.png");
}
.dropdown .black a {
  background-image: url("../images/sprite-black.png");
}
.dropdown .twelvecol a {
  background-image: url("../images/sprite-twelve.png");
}
.dropdown .sixteencol a {
  background-image: url("../images/sprite-sixteen.png");
}
.shadow {
  width: 100%;
  height: 1px;
  margin-top: -1px;
  position: absolute;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.7) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.7) 0px 1px 3px;
  z-index: 1000;
}
/* Layout */
#desk {
  top: 33px;
  left: 380px;
  right: 0;
  bottom: 0px;
  position: absolute;
  overflow: hidden;
}
/* Frame */
#frame {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#frame.blueprint {
  background: #2574b0 url(../images/bg-blueprint.png);
}
#frame.grid {
  background: #fff url(../images/bg-grid.png);
}
#frame.desk {
  background: #e8d1a7 url(../images/bg-desk.png);
}
#frame.white {
  background: #fff url(../images/bg-white.png);
}
#frame.black {
  background: #34383e url(../images/bg-black.png);
}
#frame.twelvecol {
  background: #fff url(../images/bg-960-12.png) repeat-y 50% top;
}
#frame.sixteencol {
  background: #fff url(../images/bg-960-16.png) repeat-y 50% top;
}
/* Controls */
#controls {
  width: 380px;
  position: absolute;
  left: 0;
  top: 33px;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: rgba(0,0,0,0.3) 1px 0px 3px;
  -moz-box-shadow: rgba(0,0,0,0.3) 1px 0px 3px;
  box-shadow: rgba(0,0,0,0.3) 1px 0px 3px;
  z-index: 500;
}
#controls .editor {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  font-size: 11px;
  color: #333;
  outline: 0;
  padding: 5px;
  padding-left: 3%;
  padding-right: 2%;
  border: 0;
  resize: none;
  position: absolute;
  top: 2px;
  left: 0px;
  right: 2px;
  bottom: 0;
  display: block;
  margin: 0;
  white-space: pre;
  word-wrap: break-word;
}
#controls textarea.editor {
  min-width: 96%;
  padding: 2%;
  min-height: 90%;
  top: 0;
  right: 0;
}
#controls .editor:focus {
  border: none;
  outline: 0;
}
#controls pre {
  font-family: Monaco, Consolas, Lucida Console, monospace;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.4;
  white-space: pre-wrap;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  display: block;
}
#controls .toggleLink {
  position: absolute;
  right: -13px;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  width: 13px;
  height: 22px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/sprite-toggle.png) no-repeat 0px 0px;
}
#controls .toggleLink.collapsed {
  background-position: left bottom;
}
#controls.ui-resizable .title-bar {
  background-color: #eee;
  background-image: url(../images/scrubber.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(242,242,242)), color-stop(1, rgb(220,220,220)));
  background-image: url(../images/scrubber.png), -moz-linear-gradient(center top, rgb(242,242,242) 0%, rgb(220,220,220) 100%);
  background-repeat: no-repeat, repeat-x;
  background-position: 99% 50%, 0px 0px;
}
#controls .lines {
  font-family: Andale Mono, Monaco, Consolas, Lucida Console, monospace;
  font-size: 9px;
  line-height: 15px;
  padding: 5px;
  background-color: #f5f5f5;
  width: 20px;
  text-align: center;
  color: #999;
  position: absolute;
  bottom: 0;
  top: 0;
}
#controls .title-bar {
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(242,242,242)), color-stop(1, rgb(220,220,220)));
  background-image: -moz-linear-gradient(center top, rgb(242,242,242) 0%, rgb(220,220,220) 100%);
  background-repeat: repeat-x;
  background-position: 0px 0px;
  margin: 0;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #c6c6c6;
  text-shadow: rgba(255,255,255,0.8) 0px 1px 0px;
}
#controls .title-bar h3 {
  font-size: 11px;
  margin: 0;
}
#cssbox, #htmlbox {
  background-color: #fff;
}
#cssbox .content, #htmlbox .content {
  position: relative;
}

.highlighted-editor {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.ace_editor {
  font-size: 11px;
}

#cssbox {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#htmlbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  overflow: hidden;
}

.watermark {
  z-index: 1000;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 26px;
  height: 29px;
  background: url(../images/pixel-watermark.png) no-repeat;
}

/* jQuery UI Resizable
----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: ns-resize; height: 20px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: ns-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: ew-resize; width: 20px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: ew-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}